asgiref==3.11.1
django==5.0.14
django-debug-toolbar==6.3.0
django-stubs==6.0.5
django-stubs-ext==6.0.5
djangorestframework==3.17.1
djangorestframework-stubs==3.17.0
flake8>=7.0.0
flake8-quotes>=3.4.0
flake8-variables-names==0.0.5
mccabe==0.7.0
pep8-naming==0.13.2
pillow==12.2.0
pycodestyle==2.14.0
pyflakes==3.4.0
pytz==2026.2
ruff==0.15.17
sqlparse==0.5.5
types-pyyaml==6.0.12.20260518
typing-extensions==4.15.0
